<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
</head>
<body>
    <div class="main">
        <div class="main_video">
            <video src="" style="video"></video>
        </div>
        <div class="option">
            <div >
                <button class="button">Stream</button>
                <button class="button" style="margin-left: 20px;">Record</button>
            </div>
            <div class="list">
                <li>30_10_2023_10_30.mp4</li>
                <li>30_10_2023_10_30.mp4</li>
                <li>30_10_2023_10_30.mp4</li>
                <li>30_10_2023_10_30.mp4</li>
                <li>30_10_2023_10_30.mp4</li>
            </div>
        </div>
    </div>
</body>
</html>